<?xml version="1.0" encoding="UTF-8"?>
<div class="index">
  <div class="index">
    <h2>Organismes</h2>
    <p id="InstituteOfMuseumAndLibraryServices">InstituteOfMuseumAndLibraryServices - <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e620">lien</a>
    </p>
    <p id="Bodleian Library">Bodleian Library - <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e480">lien</a>
    </p>
    <p id="americanLibraryAssociation">americanLibraryAssociation - <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e432">lien</a>
    </p>
    <p id="salzburgGlobalSeminar">salzburgGlobalSeminar - <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e654">lien</a>
    </p>
    <p id="libraryOfCongress">libraryOfCongress - <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e370">lien</a>
      <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e444">lien</a>
    </p>
  </div>
  <div class="index">
    <h2>Lieux</h2>
    <p id="salzbourg">salzbourg - <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e645">lien</a>
    </p>
    <p id="illinois">illinois - <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e384">lien</a>
    </p>
    <p id="vermont">vermont - <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e364">lien</a>
    </p>
    <p id="maine">maine - <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e405">lien</a>
    </p>
    <p id="wisconsin">wisconsin - <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e630">lien</a>
    </p>
    <p id="syracuse">syracuse - <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e627">lien</a>
    </p>
  </div>
  <div class="index">
    <h2>Personnalités</h2>
    <p id="melvilDewey">melvilDewey - <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e516">lien</a>
    </p>
    <p id="thomasJefferson">thomasJefferson - <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e506">lien</a>
    </p>
    <p id="samuelJohnson">samuelJohnson - <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e510">lien</a>
    </p>
    <p id="Tim Berners Lee">Tim Berners Lee - <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e464">lien</a>
    </p>
    <p id="francisBacon">francisBacon - <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e502">lien</a>
    </p>
    <p id="davidRumsey">davidRumsey - <a href="//home/nicolas/Documents/wget/lankes7/chapitre7id.html#d1e613">lien</a>
    </p>
  </div>
  <div class="index">
    <h2>Sites</h2>
  </div>
</div>